name: Update Angular

on:
  schedule:
    - cron: '0 8 * * 1'
  workflow_dispatch:
    branches:
      - master

jobs:
  run:
    name: Update Angular
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - uses: actions/setup-node@v1
        with:
          node-version: 16
      - run: npm install
      
      - uses: RabbitPlayground/ng-update@v1
        with:
          repo-token: ${{ secrets.GH_TOKEN }}
